#chat-input {
  border-radius: 30px;
  margin-top: auto;
  padding: 10px;
  margin-bottom: 40px;
}

#chat-text-area {
  border: none;
  outline: none;
  resize: none;
  width: 95%;
  overflow-y: hidden;
}

#chat-text-area:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#chat-send-button {
  width: 40px;
  height: 40px;
  background-color: #66e062;
  border-radius: 50%;
  justify-content: center;
}

#image-send-button {
  margin-left: 5px;
}
    
#chat-send-button:disabled {
  background-color: #e9e9e9;
} 

#chat-send-button:not([disabled]):hover {
  background-color: #2eb929;
}

#send-icon {
  height: 50%;
  width: 100%;
}

#chat-container::-webkit-scrollbar {
  width: 20px;
}

#chat-container::-webkit-scrollbar-track {
  background-color: transparent;
}

#chat-container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}